.voters-table-container {
  width: 50%;
  margin: 10px;

  #link-copy {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .admin-buttons-container {
    margin-top: 20px;
  }
}