.voters-table-container {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #link-copy {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .admin-buttons-container {
    margin-top: 20px;
  }
}